# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
*.egg
dist/
build/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# env
.env
.env.local
